# Diretório dos arquivos
PATH_FOLDER = r'caminho/para/seus/arquivos'


# Credenciais de email
LOGIN_EMAIL = 'seu_email@email.com'
LOGIN_PASSWORD = 'sua_senha_aqui'
SENDER_EMAIL = 'remetente@email.com'
CC_EMAILS = [
        'cc_email1@email.com',
	'cc_email2@email.com',
	...
    ]
BODY_MESSAGE = """Olá, tudo bem?<br><br>

Segue anexo os arquivos de .....<br><br>

Att.,<br>
Marcel"""